%
% 此文件设置页眉页脚、纸张和页面布局以及标题格式
%

% 纸张和页面布局
\geometry
  {
    paper  = a4paper,
    headheight = 3cm
  }



% 页眉页脚
\ExplSyntaxOn
\fancypagestyle { mainplain }
  {
    \fancyhf { }
    \fancyhead [ R ]
      {Suppression~of~Enemy~Air~Defenses}
    \fancyhead [ L ]
      {MCWP 3-22.2}
    \fancyfoot [ C ]
      {
        \bfseries
        \thechapter-\thepage
      }
    \renewcommand{\headrulewidth}{0.4pt}
  }
\fancypagestyle { plain }
  {
    \fancyhf { }
    \fancyfoot [ C ]
      {
        \bfseries
        \thechapter-\thepage
      }
    \renewcommand{\headrulewidth}{0pt}
  }
\pagestyle{ mainplain }


\ExplSyntaxOff


% 标题样式

% 无计数器
% \ctexset{
%   tocdepth = 1,
%   chapter = {
%     aftername = \par
%   },
%   section = {
%     numbering = false,
%     format += \rule{\textwidth}{1pt} \nopagebreak \\[-2em] \raggedright,
%     aftertitle += \kern-1em \nopagebreak\rule{\textwidth}{1pt}
%   },
%   subsection = {
%     numbering = false,
%     format += \bfseries \raggedright
%   },
%   subsubsection = {
%     numbering = false,
%     format += \itshape
%   }
% }

% 有计数器
\ctexset{
  tocdepth = 1,
  secnumdepth = 3,
  chapter = {
    aftername = \par
  },
  section = {
    % numbering = false,
    format += \rule{\textwidth}{1pt} \nopagebreak \\[-2em] \raggedright,
    aftertitle += \kern-1em \nopagebreak\rule{\textwidth}{1pt}
  },
  subsection = {
    % numbering = false,
    format += \bfseries \raggedright
  },
  subsubsection = {
    numbering = true,
    format += \itshape
  }
}


% 目录样式

\makeatletter
\patchcmd{\addcontentsline}{\thepage}{\thechapter--\thepage}{\typeout{toc succeed}}{\typeout{toc fail}}
\patchcmd{\l@chapter}{#2}{}{\typeout{subtoc succeed}}{\typeout{subtoc fail}}
\makeatother


% \ExplSyntaxOn
% \makeatletter
% % 打补丁
% \xpatchcmd { \addcontentsline } 
%   { \thepage }
%   { \thechapter--\thepage }
%   { \typeout{ toc succeed } }
%   { \typeout{ toc fail } }
% % 单独处理 chapter 的页码
% \xpatchcmd { \@chapter }
%   { \CTEX@addtocline { chapter } {#1} }
%   {
%     % 储存旧的 \addcontentsline
%     \cs_set_eq:NN \oldaddcontentsline \addcontentsline
%     % 在 chapter 的目录录入前让 \addcontentsline 暂时恢复
%     \patchcmd { \addcontentsline } 
%       { \thechapter -- \thepage }
%       {}
%       { \typeout{ toc succeed } }
%       { \typeout{ toc fail } }
%     \CTEX@addtocline {chapter} {#1}
%     % 让修改的 \addcontentsline 继续作用 section subsection 等
%     \cs_set_eq:NN \addcontentsline \oldaddcontentsline
%   }
%   { \typeout{Success} }
%   { \typeout{Failed!} }
% \makeatother  
% \ExplSyntaxOff