%
% 此文件设置页眉页脚、纸张和页面布局以及标题格式
%

% 纸张和页面布局

\geometry
  {
    paper  = a4paper
  }



% 页眉页脚

% \fancypagestyle { plain }
%   {
%     \fancyhf { }
%     \fancyhead [ RO , LE ]
%       { \thepage }
%     \fancyhead [ LO , RE ]
%       { \itshape \leftmark }
%     \fancyfoot [ C ]
%       {
%         \small
%         \thepage
%       }
%     \renewcommand{\headrulewidth}{0pt}
%   }
% \pagestyle { plain }



% 标题格式
